<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/partials/productCard.css">
    
    <title>Mercado Liebre</title>
</head>

<body>
    <%- include("./partials/header") %>

    
    <img id="fotoBanner" src="/img/banner.jpg" class="banner">
    <main>  
            <section class="flexboxRaiz">
                <h2 class="titulares">Basado en tu última visita</h2>
                <% products.forEach(product => { 
                      if(product.lastViewed == true){ %>
                        <%- include("./partials/productCard", {product}) %> <%
                   }
                 }) %>

            <section class="flexboxRaiz">
                <h2 class="titulares">Ofertas</h2>
                <% products.forEach(product => { 
                      if(product.offer == true){ %>
                        <%- include("./partials/productCard", {product}) %> <%
                   }
                 }) %>
            </section>

    </main>

    
    <%- include("./partials/footer") %>
    
</body>
</html>

