<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link href="/css/register.css" rel="stylesheet">
    
    <title>Mercado Liebre</title>
<body>
    <%- include("../partials/header") %>

    <main>
        <form class="formulario" action="/users/createUser" method="post" enctype="multipart/form-data">
            <div>
                <label for="name" class="formTitles">Nombre</label>
                <input type="text" name="name" class="entryText"  value="<%= locals.oldData && oldData.name %>">
                <% if (locals.errors && errors.name) { %>
                    <p><%= errors.name.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="surname" class="formTitles">Apellido</label>
                <input type="text" name="surname" class="entryText" value="<%= locals.oldData && oldData.surname %>">
                <% if (locals.errors && errors.surname) { %>
                    <p><%= errors.surname.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="username" class="formTitles">Nombre de usuario</label>
                <input type="text" name="username" class="entryText" value="<%= locals.oldData && oldData.username %>">
                <% if (locals.errors && errors.username) { %>
                    <p><%= errors.username.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="email" class="formTitles">Email</label>
                <input type="email" name="email" class="entryText" value="<%= locals.oldData && oldData.email %>">
                <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %></p>
                <% } %>
            </div>
            <div>
                <label class="formTitles">Fecha de nacimiento</label>
                <input type="date" name="birthdate" class="entryText">
                <% if (locals.errors && errors.birthdate) { %>
                    <p><%= errors.birthdate.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="address" class="formTitles">Domicilio</label>
                <input type="text" name="address" class="entryText" value="<%= locals.oldData && oldData.address %>">
                <% if (locals.errors && errors.address) { %>
                    <p><%= errors.address.msg %></p>
                <% } %>
            </div>
            <section>
                <label class="formTitles">Perfil de usuario</label>
                <div class="userProfileContainer">
                    <article class="userProfileControl">
                        <input type="radio" name="userProfile" value="1" id="buyer">
                        <label class="user" for="buyer">Comprador</label>
                    </article>
                    <article class="userProfileControl">
                        <input  type="radio" name="userProfile" value="2" id="seller">
                        <label class="user" for="seller">Vendedor</label>
                    </article>
                    <% if(locals.errors && errors.userProfile) {%>
                    <p><%= errors.userProfile.msg %></p>
                <% } %>
                </div>
            </section>
            <div class="profilePicture">
                <label class="formTitles">Defina su foto de usuario</label>
                <input type="file" name="userPhoto" class="userPhoto"> 
            </div>
            <div>
                <label for="password" class="formTitles">Contraseña</label>
                <input type="password" name="password"  class="entryText" value="<%= locals.oldData && oldData.password %>">
                <% if(locals.errors && errors.password) {%>
                    <p><%= errors.password.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="confirmPassword" class="formTitles">Confirmar contraseña</label>
                <input type="password" name="confirmPassword"  class="entryText" value="<%= locals.oldData && oldData.confirmPassword %>">
                <% if(locals.errors && errors.confirmPassword) {%>
                    <p><%= errors.confirmPassword.msg %></p>
                <% } %>
            </div>
            <div>
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>

        </form>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>